.addbutton{
    border: 0px;
    background: transparent;
    margin: auto;
    font-weight: bold;

}

.underline{
    text-decoration: underline;
}

.delivery{
    max-width: 34rem;
    margin: auto;
}

